:host ::ng-deep {
  .p-datatable {
    .product-badge {
      border-radius: 2px;
      padding: .25em .5rem;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: .3px;

      &.status-instock {
        background: #C8E6C9;
        color: #256029;
      }

      &.status-outofstock {
        background: #FFCDD2;
        color: #C63737;
      }
    }
  }
}